@model Collection.Entity.Cust_Innove_Membership


@{
    ViewBag.Title = "Invoices List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int temp = 0;
    if (ViewBag.InvoCount <= 0)
    {
        temp = 1;
    }
    else
    {
        temp = (Int32)Model.ListInvoices.ToList().Last().invoice_no + 1;
    }
}

<h2>Invoices Index</h2>

<table class="table table-bordered" id="t_view">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.invoice_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Issue_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Collect_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Act_C_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Collected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Suspended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invo_obj.Customer.Name)
        </th>

        <th>Operations</th>
    </tr>

    @foreach (var item in Model.ListInvoices)
    {
        <tr id="#invo_" @item.id>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collect_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act_C_Date)
            </td>
            <td>
                @{ if (item.Collected == true)
                {
                        <input type="checkbox" name="vehicle" value=@item.Collected checked disabled>
                    }
                    else
                    {
                        <input type="checkbox" name="vehicle" value=@item.Collected disabled>
                    }
                }
            </td>
            <td>
                @{ if (item.Suspended == true)
                {
                        <input type="checkbox" name="vehicle" value=@item.Suspended checked disabled>
                    }
                    else
                    {
                        <input type="checkbox" name="vehicle" value=@item.Suspended disabled>
                    }
                }
            </td>
            <td>
                @{
                    var a = 0;
                    foreach (var item4 in Model.ListComments)
                    {
                        if (item4.Invoices_Id == item.id)
                        {
                            a = 1;
                        }
                    }
                    if (a == 1)
                    {
                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content=@item.Collect_Date>
                            Comment
                        </button>
                    }
                    else
                    {
                        <h6>No Comments</h6>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditInvoice", new { id = item.id }, new { @class = "btn btn-danger" })
                @{
                    if (item.Collected == true)
                    {
                        @Html.ActionLink("Paid", "PayInvoice", new { id = item.id }, new { @class = "btn btn-success", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.ActionLink("Pay", "PayInvoice", new { id = item.id }, new { @class = "btn btn-success" })
                    }
                }
                @*   <button class="btn btn-warning" onclick="PayInvoice(@item.id)">Pay</button>*@
                <button class="btn btn-warning" onclick="DeleteInvoice(@item.id)">Delete</button>
            </td>
        </tr>
    }

</table>
<a href="~/Invoice/Index2" class="btn btn-default">Go to back</a>
<hr />
<!-- Add Invoice-->

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        function DeleteInvoice(id) {
            //debugger;
            if (confirm("Are you sure?")) {
                $.ajax({
                    type: "GET",
                    url: "/Invoice/delteInvoice/" + id,
                    success: function (result) {
                        //$("#invvo_" + id).remove();
                        location.reload();
                    },
                    error: function () {
                        alert("error");
                    }
                })
            }
        }
        $(document).ready(function () {
            $("#send2").click(function () {
                var mydata = $("#save2").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Invoice/AddInvoice",
                    data: mydata,
                    success: function (result) {
                        //if (result.r == 1) {
                        //$("#t_view").reload();
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert(xhr.status);
                        //alert(thrownError);
                    }
                })
            })
        })
        //pay fun
    </script>
    <!--Adding invoice form (popup)-->
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var d = new Date();
            d.setHours(d.getHours() + 2);
            var elem = document.getElementById("InvoiceDate");
            elem.value = d.toISOString().slice(0, 16);
            console.log(d);
        })
        //$("#InvoiceDate").val($.now());
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}
<style>
    .row {
        /*margin-right: -65px;
        margin-left: -65px;*/
    }
</style>