@model IEnumerable< Collcection.DAL.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int temp = 0;
    if (ViewBag.count <=0)
    {
        temp = 1;
    }
    else
    {
        temp = (Int32)Model.ToList().Last().Customer_No + 1;
    }
}

<h2>Index</h2>
<!-- Customers list-->
<div class="table-responsive">
    <table class="table">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer_No)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
            </tr>
        </thead>
        <tbody id="t_body">
           @foreach (var item in Model)
           {
            <tr id="customer_@item.id">
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var active = item.Active.ToString();
                        if (item.Active == true)
                        {
                            <span class="label label-primary">@active</span>
                        }
                        else
                        {
                            <span class="label label-danger">@active</span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "editCustomer", new { id = item.id }, new {  @class = "btn btn-success"})
              @*      @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" })*@
                    @*@Html.ActionLink("Delete", "delteCustomer", new { id = item.id }, new { @class = "btn btn-warning" })*@
                    <button type="button" class = "btn btn-warning" id="delete" onclick="DeleteCustomer(@item.id)">Delete</button>
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>
<hr />
<button class="btn btn-info" id="add-cust">Add Customer</button>
<!-- Add Customer-->
<form id="save" method="post">
    <div class="form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Customer Number</label>
            <input type="hidden" class="form-control" name="Customer_No" value=@temp>
            <input type="text" class="form-control" name="" value=@temp  disabled="disabled">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Customer Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Customer Name" name="c.Name" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Active"/>
            <label class="form-check-label" for="exampleCheck1">Active</label>
        </div>
        <button type="submit" class="btn btn-primary" id="send">Add</button>
    </div>
</form>
    
@*<form>

    </form>*@
@section Scripts{
@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/jqueryval")*@
<script>
    function DeleteCustomer(id) {
        //debugger;
        if (confirm("Are you sure?")) {
            $.ajax({
                type: "GET",
                url: "/Customer/delteCustomer/" + id,
                success: function (result) {
                    if (result != 1) {
                        $("#customer_" + id).remove();
                    }
                    else {
                        alert("error");
                    }
                }
            })
        }
        
    }
    $(document).ready(function () {
        
        $("#add-cust").click(function () {
            $("#save").slideToggle(1000);
        });
        $("#send").click(function () {
            //debugger;
            if ($("#name").val() != '') {
                var mydata = $("#save").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Customer/AddCustomer",
                    data: mydata,
                    success: function (result) {
                        alert("done");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                })
            }
            })
        });
</script>
}
<!--styles-->
<style>
    #save{
        display:none;
    }
</style>